{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Invalidate AWS Cache plugin for Craft CMS 3.x
 *
 * Invalidate AWS Cache index.twig
 *
 * @author    Traffic
 * @copyright Copyright (c) 2022 Traffic
 * @link      https://www.traffic.com.au/
 * @package   InvalidateAwsCache
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("traffic\\invalidateawscache\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "Invalidate AWS Cache" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('invalidate-aws-cache') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@traffic/invalidateawscache/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('invalidate-aws-cache') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    {% if message is defined %} 
        {{message}}
    {% else %}
        <form>
            <input type="hidden" name="action" value="invalidate-aws-cache/default/index">
            {{ csrfInput() }}
            <div class="buttons">
                <input type="submit" class="btn submit" value="Invalidate Cache">
            </div>
        </form>
    {% endif %}
{% endset %}
